.row {
     margin-top : 40px !important;
    
}

.well {
     padding: 50px !important;
     background-color: #337ab7 !important;
     border: 1px solid #0076ff !important;
     color: #e7e7e7 !important;
     text-align: left;
}

.text-size {
    font-size: 12px; 
    border-bottom: 0.5px solid white;
}

.font-color {
    color: #337ab7 !important;
}

.alert {
    margin-top: 40px !important;
}

.alert-success {
    background-color: #7b0303 !important;
    border-color: #f1f3f5 !important;
    color: #eceef1 !important;
}

h1 {
    margin-bottom: 20px !important;
    padding: 20px !important;
}