.member_top_h1_index_font_text {
    Font-size: 15px !important;
    margin: 0px !important;
    text-align: left;
}

.well_member_index {
    padding: 0px !important;
    -moz-box-shadow: 0px 0px 10px 0px olive;
    -webkit-box-shadow: 0px 0px 10px 0px olive;
}

member_index_td_bottom_border
{
    border-bottom: 1px white solid !important;
}