.well_tables {
    padding: 0px !important;
    text-align: inherit !important;
}

td {
    vertical-align: inherit !important;
}
    
th {
    text-align: center !important;
}



.table-hover tr:hover td {
 background-color: #0077DD;
 color:#fff;
}

.well
{
 border: 0px !important;
}

member_index_td_bottom_border
{
    border-bottom: 1px white solid;
}
